Repository syncthing/syncthing, pull requests merged in 2025-07, with the labels that each got.

#10206 feat: add debug commands for folder counts and files
  .golangci.yml
  cmd/syncthing/main.go
  internal/db/sqlite/db_folderdb.go
  internal/db/sqlite/folderdb_counts.go
  internal/db/sqlite/folderdb_local.go
  lib/protocol/bep_fileinfo.go
  lib/protocol/vector.go
Labels: enhancement

#10207 fix: allow deleted files to win conflict resolution
  internal/db/sqlite/db_global_test.go
  internal/db/sqlite/folderdb_update.go
  lib/model/folder_sendrecv.go
  lib/model/requests_test.go
  lib/protocol/bep_fileinfo.go
  lib/protocol/conflict_test.go
  relnotes/v2.0.md
Labels: bug

#10213 chore(gui): fix "Shut Down" spelling in Actions
  gui/default/assets/lang/lang-ar.json
  gui/default/assets/lang/lang-be.json
  gui/default/assets/lang/lang-bg.json
  gui/default/assets/lang/lang-ca.json
  gui/default/assets/lang/lang-ca@valencia.json
  gui/default/assets/lang/lang-cs.json
  gui/default/assets/lang/lang-da.json
  gui/default/assets/lang/lang-de.json
  gui/default/assets/lang/lang-el.json
  gui/default/assets/lang/lang-en-AU.json
  gui/default/assets/lang/lang-en-GB.json
  gui/default/assets/lang/lang-en.json
  gui/default/assets/lang/lang-eo.json
  gui/default/assets/lang/lang-es.json
  gui/default/assets/lang/lang-eu.json
  gui/default/assets/lang/lang-fi.json
  gui/default/assets/lang/lang-fil.json
  gui/default/assets/lang/lang-fr-CA.json
  gui/default/assets/lang/lang-fr.json
  gui/default/assets/lang/lang-fy.json
  gui/default/assets/lang/lang-ga.json
  gui/default/assets/lang/lang-gl.json
  gui/default/assets/lang/lang-he-IL.json
  gui/default/assets/lang/lang-hi.json
  gui/default/assets/lang/lang-hu.json
  gui/default/assets/lang/lang-id.json
  gui/default/assets/lang/lang-it.json
  gui/default/assets/lang/lang-ja.json
  gui/default/assets/lang/lang-ko-KR.json
  gui/default/assets/lang/lang-lt.json
  gui/default/assets/lang/lang-nb.json
  gui/default/assets/lang/lang-nl.json
  gui/default/assets/lang/lang-nn.json
  gui/default/assets/lang/lang-pl.json
  gui/default/assets/lang/lang-pt-BR.json
  gui/default/assets/lang/lang-pt-PT.json
  gui/default/assets/lang/lang-ro-RO.json
  gui/default/assets/lang/lang-ru.json
  gui/default/assets/lang/lang-si.json
  gui/default/assets/lang/lang-sk.json
  gui/default/assets/lang/lang-sl.json
  gui/default/assets/lang/lang-sv.json
  gui/default/assets/lang/lang-tr.json
  gui/default/assets/lang/lang-uk.json
  gui/default/assets/lang/lang-vi.json
  gui/default/assets/lang/lang-zh-CN.json
  gui/default/assets/lang/lang-zh-HK.json
  gui/default/assets/lang/lang-zh-TW.json
  gui/default/index.html
Labels: chore

#10214 chore(gui): update fancytree from 2.38.0 to 2.38.5 (ref #10051, ref #10155)
  gui/default/vendor/fancytree/LICENSE.txt
  gui/default/vendor/fancytree/jquery.fancytree-all-deps.js
Labels: chore

#10222 chore(scanner): reduce memory pressure by using pools inside hasher
  lib/scanner/blocks.go
Labels: chore

#10223 chore(fs): slightly reduce memory usage of IsParent
  lib/fs/filesystem.go
  lib/fs/util.go
Labels: chore
