Repository syncthing/syncthing, pull requests merged in 2025-05, with the labels that each got.

#10100 fix(config): mark audit log options as needing restart (fixes #10099)
  lib/config/optionsconfiguration.go
Labels: trivial

#10134 build: upgrade setup-zig action
  .github/workflows/build-syncthing.yaml
Labels: trivial

#10140 fix(protocol): avoid deadlock with concurrent connection start and close
  lib/model/model.go
  lib/protocol/protocol.go
Labels: bug

#10144 build: properly propagate build tags to Debian build
  build.go
Labels: build, trivial

#10151 feat(config): enable multiple connections by default
  lib/config/deviceconfiguration.go
  relnotes/v2.0.md
Labels: enhancement

#10148 feat(config): expose folder and device info as metrics (fixes #9519)
  cmd/syncthing/main.go
  lib/config/metrics.go
Labels: enhancement
