Repository syncthing/syncthing, pull requests merged in 2025-08, with the labels that each got.

#10225 refactor(scanner): use recommended pattern for slice pool
  lib/scanner/blocks.go
Labels: chore

#10228 fix(gui): fix identicon generation
  gui/default/syncthing/core/identiconDirective.js
Labels: bug

#10205 feat(ignore): add .stignore escaping on Windows
  lib/ignore/ignore.go
  lib/ignore/ignore_test.go
Labels: enhancement

#10234 fix: correct logging of our ID after startup & generate
  cmd/syncthing/generate/generate.go
  lib/syncthing/syncthing.go
Labels: bug, trivial

#10236 chore(slogutil): ensure quoting of empty and confusing log values
  internal/slogutil/formatting.go
  internal/slogutil/formatting_test.go
Labels: trivial, chore

#10241 fix: allow upgrade without config dir (fixes #10240)
  cmd/syncthing/main.go
Labels: bug, trivial

#10246 fix(etc): correct incantation to launch browser in Linux desktop file
  etc/linux-desktop/syncthing-ui.desktop
Labels: bug, trivial

#10247 fix(db): handle path names that include URL special chars (fixes #10245)
  internal/db/sqlite/basedb.go
  internal/db/sqlite/db_test.go
Labels: bug

#10252 fix: increase default delete retention to 15 months
  cmd/syncthing/main.go
  internal/db/sqlite/db_open.go
  internal/db/sqlite/db_service.go
  relnotes/v2.0.md
Labels: bug, trivial

#10248 build: bump required language level to 1.24, compiler to 1.25
  .github/workflows/build-infra-dockers.yaml
  .github/workflows/build-syncthing.yaml
  go.mod
  lib/api/api_test.go
  lib/ignore/ignore_test.go
Labels: build, trivial

#10277 build: downgrade gopsutil (fixes #10276)
  go.mod
  go.sum
Labels: build, trivial

#10279 fix(cmd): provide temporary GUI/API server during database migration
  cmd/syncthing/main.go
  lib/syncthing/utils.go
Labels: bug

#10282 chore(db): cleanup DB in tests and remove OpenTemp
  internal/db/sqlite/db_bench_test.go
  internal/db/sqlite/db_global_test.go
  internal/db/sqlite/db_indexid_test.go
  internal/db/sqlite/db_local_test.go
  internal/db/sqlite/db_mtimes_test.go
  internal/db/sqlite/db_open.go
  internal/db/sqlite/db_test.go
  internal/db/typed_test.go
  lib/api/api_auth_test.go
  lib/api/api_test.go
  lib/model/testutils_test.go
  lib/stats/stats_test.go
  lib/syncthing/syncthing_test.go
Labels: chore

#10285 fix(model): consider MaxFolderConcurrency when calculating number of hashers
  lib/model/model.go
Labels: bug

#10316 chore(gui): use steps of 1024 KiB for bandwidth rate limits
  gui/default/syncthing/device/editDeviceModalView.html
  gui/default/syncthing/settings/settingsModalView.html
Labels: chore

#10320 chore(db): benchmark output, migration blocks/s output
  internal/db/sqlite/db_bench_test.go
  lib/syncthing/utils.go
Labels: trivial, chore

#10321 chore(db): update schema version in the same transaction as migration
  internal/db/sqlite/basedb.go
  internal/db/sqlite/sql/README.md
Labels: chore

#10323 fix(db): apply all migrations and schema in one transaction
  .golangci.yml
  internal/db/sqlite/basedb.go
  internal/db/sqlite/db_test.go
  internal/db/sqlite/sql/README.md
Labels: bug
