Repository syncthing/syncthing, pull requests merged in 2025-09, with the labels that each got.

#10332 fix(model): correctly handle block-aligned empty sparse files
  lib/model/sharedpullerstate.go
Labels: bug

#10330 fix(syncthing): apply folder migrations with temporary API/GUI server
  cmd/syncthing/main.go
  internal/db/sqlite/db_open.go
  internal/db/sqlite/db_update.go
  lib/syncthing/syncthing.go
  lib/syncthing/utils.go
Labels: bug

#10336 docs: update contribution guidelines from the docs site
  CONTRIBUTING.md
Labels: documentation

#10339 fix(db): only vacuum database on startup when a migration script was actually run
  internal/db/sqlite/basedb.go
Labels: bug

#10348 fix(model): earlier free-space check (fixes #10347)
  lib/model/folder_sendrecv.go
Labels: bug

#10367 fix(sqlite): avoid rowid on kv table
  internal/db/sqlite/sql/schema/common/10-schema.sql
  internal/db/sqlite/sql/schema/common/70-kv.sql
  internal/db/sqlite/sql/schema/folder/30-indexids.sql
  internal/db/sqlite/sql/schema/folder/50-mtimes.sql
Labels: bug, trivial

#10377 chore(scanner): always return values to the pools when hashing blocks
  lib/scanner/blocks.go
Labels: chore

#10380 chore(ursrv): update regex patterns for Syncthing-Fork entries
  cmd/infra/ursrv/serve/serve.go
Labels: chore

#10381 chore: clean up migrated database
  cmd/syncthing/main.go
Labels: chore

#10351 fix: improve conflict detection by tracking previous file hash (fixes #10349)
  internal/gen/bep/bep.pb.go
  internal/gen/dbproto/structs.pb.go
  lib/api/api.go
  lib/model/folder_sendrecv.go
  lib/protocol/bep_fileinfo.go
  lib/scanner/walk.go
  proto/bep/bep.proto
  proto/dbproto/structs.proto
Labels: bug, maintainer-responsibility

#10398 fix(syncthing): do not perform CPU benchmark on startup unless logging enabled
  lib/syncthing/syncthing.go
Labels: bug
