Repository syncthing/syncthing, pull requests merged in 2025-06, with the labels that each got.

#10154 fix(syncthing): avoid writing panic log to nil fd
  cmd/syncthing/monitor.go
Labels: bug

#10159 build: build both Debian armel and armhf (though they are the same for us)
  .github/workflows/build-syncthing.yaml
Labels: build, trivial

#10165 fix(fs): check for unsupported error on modern Windows (fixes #10164)
  lib/fs/filesystem_copy_range_test.go
Labels: bug

#10162 feat: use Ed25519 keys for sync connections
  cmd/infra/strelaypoolsrv/main.go
  cmd/stdiscosrv/apisrv_test.go
  cmd/stdiscosrv/main.go
  cmd/strelaysrv/main.go
  lib/api/api.go
  lib/syncthing/utils.go
  lib/tlsutil/tlsutil.go
Labels: enhancement

#10168 refactor(syncthing): use named constant for SIGHUP
  cmd/syncthing/main.go
Labels: chore

#10173 chore(model): remove redundant removal of internal fields in indexsender
  lib/model/indexhandler.go
Labels: chore

#10170 fix: track invalid files in LocalFlags to fix global count
  internal/db/counts.go
  internal/db/interface.go
  internal/db/sqlite/basedb.go
  internal/db/sqlite/db_global_test.go
  internal/db/sqlite/folderdb_counts.go
  internal/db/sqlite/folderdb_global.go
  internal/db/sqlite/folderdb_local.go
  internal/db/sqlite/folderdb_update.go
  internal/db/sqlite/sql/schema/folder/20-files.sql
  lib/model/fakeconns_test.go
  lib/model/folder.go
  lib/model/indexhandler.go
  lib/model/model_test.go
  lib/protocol/bep_fileinfo.go
  lib/protocol/bep_fileinfo_test.go
  lib/protocol/conflict_test.go
  lib/protocol/encryption.go
  lib/scanner/walk.go
  lib/scanner/walk_test.go
Labels: bug

#10174 chore: add migration for remote invalid local flag
  internal/db/sqlite/basedb.go
  internal/db/sqlite/sql/migrations/01-placeholder.sql
  internal/db/sqlite/sql/migrations/folder/02-remove-invalid.sql
Labels: chore

#10180 fix(db): remove invalid member from FileMetadata
  internal/db/interface.go
  lib/model/model.go
Labels: bug

#10181 fix(model): avoid flashing "Sync Waiting" unnecessarily
  lib/model/folder.go
Labels: bug

#10176 fix(protocol): slightly loosen/correct ownership comparison criteria (fixes #9879)
  lib/protocol/bep_fileinfo.go
  lib/protocol/bep_fileinfo_test.go
Labels: bug

#10171 feat(connections, nat): add UDP portmapping/pinhole for QUIC (fixes #7403)
  lib/connections/quic_listen.go
  lib/connections/tcp_listen.go
  lib/connections/util.go
  lib/nat/service.go
Labels: enhancement

#10190 fix(model): don't clobber local flags when receiving index
  internal/db/sqlite/basedb.go
  internal/db/sqlite/sql/migrations/folder/03-drop-bad-invalid.sql
  lib/model/indexhandler.go
  lib/model/model_test.go
Labels: bug

#10196 fix(beacon, osutil, upnp): fix local discovery send and intf detection on Android
  go.mod
  go.sum
  lib/beacon/broadcast.go
  lib/beacon/multicast.go
  lib/osutil/net.go
  lib/upnp/igd_service.go
  lib/upnp/upnp.go
Labels: bug

#10200 chore(config): increase max concurrent writes default
  lib/config/config.go
  lib/config/config_test.go
  lib/config/folderconfiguration.go
  lib/config/migrations.go
Labels: chore

#10201 chore(gui): added spacing between folder name and error message
  gui/default/index.html
Labels: chore

#10203 build: unset build ID in generated binaries
  build.go
Labels: build

#10202 chore(protocol): minor cleanup of ClusterConfig messages; remove DisableTempIndexes option
  go.mod
  internal/gen/bep/bep.pb.go
  lib/config/config_test.go
  lib/config/folderconfiguration.go
  lib/config/foldertype.go
  lib/model/model.go
  lib/model/model_test.go
  lib/model/requests_test.go
  lib/protocol/bep_clusterconfig.go
  lib/protocol/encryption.go
  lib/ur/contract/contract.go
  lib/ur/usage_report.go
  proto/bep/bep.proto
Labels: chore
